<div class="modal-overlay">
  <div class="modal-container">
    <button class="close-btn" (click)="onCancel()">×</button>
    
    <div class="icon-container">
                <img src="svgs/Group 2.svg" width="58" height="58" alt="Group 2" />


    </div>

    <h2 class="modal-title">Approve Request?</h2>
    <p class="modal-subtitle">You are about to approve this request.</p>

    <div class="info-section">
      <p class="info-label">By approving:</p>
      <ul class="info-list">
        <li>The request will be marked as approved</li>
        <li>Migration to production will be triggered automatically</li>
        <li>No further edits will be allowed</li>
      </ul>
    </div>

    <div class="button-group">
      <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
      <button class="btn btn-approve" (click)="onApprove()">Approve</button>
    </div>
  </div>
</div>