<div class="request-table-container">
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>Request ID / Dashboard Name</th>
        <th>Type</th>
        <th>Business Owner</th>
        <th>Submission Date</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (request of requests; track request.id) {
        <tr (click)="onRowClick(request)" class="clickable-row">
          <td><input type="checkbox" /></td>
          <td class="request-id">
            {{ request.id }}
          </td>
          <td>{{ request.type }}</td>
          <td>{{ request.owner }}</td>
          <td>{{ request.date }}</td>
          <td>
            <span
              class="status-badge"
              [style.background-color]="getStatusBgColor(request.status)"
              [style.color]="getStatusColor(request.status)"
            >
              <span
                class="svg-icon status-dot"
                [style.background-color]="getStatusColor(request.status)"
              ></span>
              {{ request.status }}
            </span>
          </td>
          <td>
            <span class="priority-badge">
              <span
                class="svg-icon priority-icon"
                [style.background-color]="getPriorityColor(request.priority)"
              ></span>
            </span>
          </td>
          <td class="action-icons">
            <button class="icon-btn" title="View" (click)="onViewRequest(request); $event.stopPropagation()">
                                            <img src="svgs/eye-open.svg" width="24" height="24" alt="eye-open" />

            </button>
            <button class="icon-btn" title="comment">
                                           <img src="svgs/comment.svg" width="24" height="24" alt="comment" />

            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
    <span class="pagination-info">{{ startIndex }} - {{ endIndex }} of {{ totalCount }} Items</span>
    <div class="pagination-controls">
      <button class="btn-prev" [disabled]="currentPage === 1" (click)="onPrevPage()">
        ← Previous
      </button>
      <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn-next" [disabled]="currentPage === totalPages" (click)="onNextPage()">
        Next →
      </button>
    </div>
  </div>
</div>
