.tabs {
  display: flex;
  gap: 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 16px;
  border: 1px solid #B0B0B0;
  padding: 0 10px 0 10px;
  gap: 20px;
    border-radius: 10px;
    justify-content: space-between;
}

.tab {
  padding: 6px 20px;
  background: none;
  border: none;
  color: #666;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  white-space: nowrap;
}

.tab:hover {
  color: #0DA06E;
}

.tab.active {
  color: #0DA06E;
  background-color: #DFF0E8;
    font-weight: 600;
    text-decoration: none !important;
    border-bottom: none !important;
    margin: 4px 0 4px 0;
    border-radius: 8px;
}


@media (max-width: 768px) {
  .tabs {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .tab {
    padding: 10px 16px;
    font-size: 12px;
  }
}
