.details-page-container {
   display: flex;
   width: 100%;
  gap: 24px;
  /* padding: 24px; */
  padding-left: 0;
  padding-right: 10px;
  /* margin-top: 70px; */
  background-color: #f5f5f5;
  min-height: calc(100vh - 70px);
}

.main-content {
  flex: 1;
  /* background: white; */
  border-radius: 8px;
  padding: 24px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
}


.dashboard-header {
  margin-bottom: 24px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
}

.last-refresh {
  font-size: 12px;
  color: #6b7280;
}

.breadcrumb {
  font-size: 13px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumb-icon {
  color: #ccc;
  font-weight: bold;
}

.breadcrumb-active {
  color: #17a2b8;
  font-weight: 500;
}

.search-filter-section {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.search-box {
 width: 40%;
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px 16px 10px 16px;
  border: 1px solid #B0B0B0;
  border-radius: 10px;
  font-size: 13px;
  color: #333;
}

.search-input:focus {
  outline: none;
  border-color: #17a2b8;
  box-shadow: 0 0 0 3px rgba(23, 162, 184, 0.1);
}

.search-input::placeholder {
  color: #999;
}

.search-icon {
 position: absolute;
  right: 12px;
  width: 18px;
  height: 18px;
  color: #999;
  pointer-events: none;
}

.filter-button {
 display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background: white;
  border: 1px solid #B0B0B0;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
}

.filter-button:hover {
  background: #f9fafb;
  border-color: #d1d5db;
}

.filter-button svg {
  width: 20px;
  height: 20px;
  stroke-width: 2;
}

.table-section{
    background: white;
    padding: 16px;
    border-radius: 20px;
}