<div class="details-page-container">
  @if (currentView === 'overview') {
    <div class="main-content">
      <!-- Header Section -->
      <div class="dashboard-header">
        <div class="header-top">
          <h1 class="dashboard-title">{{ getPageTitle() }}</h1>
          <span class="last-refresh">Last Refresh: Today, {{ lastRefresh | date: 'short' }}</span>
        </div>
        <!-- <div class="breadcrumb">
        <span>Dashboard</span>
        <span class="breadcrumb-icon">›</span>
        <span>Orders</span>
        <span class="breadcrumb-icon">›</span>
        <span class="breadcrumb-active">All Orders</span>
      </div> -->
      </div>

      <div class="table-section">
        <!-- Search and Filter -->
        <div class="search-filter-section">
          <div class="search-box">
            <input
              type="text"
              placeholder="Search by id or Type"
              [(ngModel)]="searchQuery"
              (input)="onSearch(searchQuery)"
              class="search-input"
            />
            <img class="search-icon" src="svgs/search.svg" width="20" height="20" alt="search" />
          </div>
          <button class="filter-button">
            Filter
            <img src="svgs/filter-list.svg" width="24" height="24" alt="filter-list" />
          </button>
        </div>

        <!-- Request Table -->
        <app-business-request-table
          [requests]="displayedRequests"
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [totalItems]="filteredRequests.length"
          [itemsPerPage]="pageSize"
          (nextPage)="nextPage()"
          (prevPage)="prevPage()"
          (rowClick)="onRowClick($event)"
        >
        </app-business-request-table>
      </div>
    </div>
  }
  @if (currentView === 'details' && selectedRequest) {
    <app-business-request-details-page
      [selectedRequest]="selectedRequest"
      [onClose]="closeDetailsPage"
    ></app-business-request-details-page>
  }
</div>
